@font-face {
    font-family: 'Myriad Pro';
    src: local(Myriad Pro), url(../fonts/Myriad_Pro/MyriadPro-Regular.ttf);
}

html {
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 10px;
}

body {
    margin: 0px;
}

header{
    height: 850px;
    background-image: url(../img/top-back.jpg);
    background-position: center;
    margin-bottom: 245px;
}

.navigation{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    height: 80px;
}

.navigation_list{
    margin: 25px 0px;
    padding: 0px;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link{
    height: auto;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.link:after {
    background-color: #ffffff;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: .3s ease-in-out;
    transform: translateX(-50%);
    margin-top: 22px;

}

.link:hover:after,
.link:focus:after {
    width: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 174px;
}

.header_heads {
    font-size: 85px;
    color: #ffffff;
    margin: 0px;
    font-weight: normal;
}

.header_underline { 
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 6px;
    margin: 40px 0px 54px 0px;
}

.header_describe{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    width: 400px;
    letter-spacing: 3px;
    margin: 0px 0px 68px 0px;
    font-weight: normal;
}

.header_button{
    width: 170px;
    height: 45px;
    font-family: 'Myriad Pro';
    font-size: 20px;
    color: #ffffff;
    background-color: #151d25;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.header_button:hover{
    color: #151d25;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 0.6s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_us {
    width: 970px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 747px;
    z-index: 5;
}

#logo {
    width: 487px;
    height: 450px;
}

.our_services {
    width: 429px;
    height: 287px;
}

.main_heads {
    font-size: 3.5rem;
    color: #28374b;
    margin: 0px;
}

.main_underline {
    width: 200px;
    color: #9fb0a5;
    letter-spacing: 10px;
    font-size: 2.5rem;
    margin: 5px 0px 30px 0px;
}

.main_describe {
    font-size: 2rem;
    color: #9fb0a5;
    width: 400px;
    margin: 0px 0px 92px 0px;
}

.main_button {
    width: 170px;
    height: 45px;
    font-family: 'Myriad Pro';
    font-size: 20px;
    color: #ffffff;
    background-color: #151d25;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.main_button:hover {
    color: #151d25;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 0.6s;
}

.quote {
    height: 472px;
    margin-bottom: 77px;
    background-image: url(../img/second.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.transparent_block {
    width: 744px;
    height: 158px;
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 29, 37, 0.5);
}

.quote_text {
    letter-spacing: 4px;
    margin: 0px 0px 27px 0px;
}

.quote_author {
    margin: 0px;
}

.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example_images {
    margin: 68px 0px 42px 0px;
}

.img_row img {
    width: 293px;
    height: 250px;
    vertical-align: bottom;
    float: left;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow_bcg {
    background-color: #151d25;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 17px 0px 132px 0px;
    transition: all .3s linear;

}

.arrow_bcg:hover {
    transition: all .3s linear;
    background-color: #354a64;
    width: 40px;
    height: 40px;
}

.arrow {
    border: solid #ffffff;
    width: 9px;
    height: 9px;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.insta_posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1172px;
    margin-bottom: 160px;
}

.news{

    display: flex;
    flex-direction: column;
    text-align: center;
}

.news_head {
    font-size: 35px;
    color: #28374b;
    margin: 0px 0px 58px 0px;
}

.news_describe {
    font-size: 25px;
    color: #28374b;
    margin: 0px 0px 69px 0px;
    letter-spacing: 3px;
}

.news_form{
    display: flex;
    justify-content: center;
}

.email{
    padding-left: 38px;
    height: 50px;
    width: 324px;
    border: 1px solid #151d25;
    font-size: 17px;
}

.email::-webkit-input-placeholder{
    color: #28374b;
    font-size: 22px;
    font-family: 'Myriad Pro';
}

.subscribe{
    height: 54px;
    width: 200px;
    background-color: #151d25;
    color: #ffffff;
    border: 1px solid #151d25;
    font-size: 22px;
    font-family: 'Myriad Pro';
    transition: 0.6s;
    cursor: pointer;
}

.subscribe:hover {
    background-color: #27364a;
    color: #ffffff;
    transition: 0.6s;
}

.news_img{
    justify-content: center;
    margin: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    background-position: center;
}

.img_section_1{
    background-image: url(../img/bottom-1.jpg);
    margin-right: 20px;
    width: 360px;
    height: 260px;
    border-radius: 10px;
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 370px;
    height: 270px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_2{
    background-image: url(../img/bottom-2.jpg);
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_2:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 270px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_3{
    background-image: url(../img/bottom-3.jpg);
    margin-left: 20px;
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_3:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 370px;
    height: 270px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.6s;
    border-radius: 10px;
}

.shadow_section{
    background-color: rgba(14, 18, 19, 0.8);
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
}

.shadow_section:hover{
    background-color: rgba(14, 18, 19, 0); 
    width: 370px;
    height: 270px;
    border-radius: 10px;
}

footer {
    background-color: #27364a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 47.4%;
    height: 280px;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 234px;
}

.work_time {
    display: flex;
    flex-direction: column;
    height: 234px;
}

.footer_describe {
    margin: 10px 0px;
    font-size: 2rem;
}

.footer_heads {
    margin: 0px 0px 36px 0px;
    font-size: 2.5rem;
}

.footer_bottom {
    background-color: #151d25;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

.copyright {
    width: 47.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright .footer_describe {
    width: 503px;
}
