@font-face {
    font-family: "SourceSansPro-Bold";
    src: url("./fonts//SourceSansPro-Bold.otf");
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("./fonts//SourceSansPro-Regular.otf");
}

html {
    font-size: 10px;
    min-width: 340px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


header,
main,
footer {
    width: 100%;
    margin: 0px;
}

header {
    display: flex;
    align-items: flex-end;
    height: 65px;
}

.logo {
    font-family: "SourceSansPro-Bold";
    font-size: 48px;
    color: #ffb83d;
    margin-left: 145px;
}

.s1 {
    background-image: url("./img/photo_2020-05-01_20-20-44.jpg");
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 690px;
    display: flex;
    align-items: center;
}

.s1_text-block {
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 145px;
}

.s1_title {
    font-family: "SourceSansPro-Bold";
    font-size: 72px;
    color: #ffb83d;
}

.s1_desk {
    font-family: "SourceSansPro-Bold";
    font-size: 30px;
    color: #000000;
}

.choose-currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: #f7f7f7;
    border-radius: 80px;
}

.currency-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 166px;
    margin: 40px 0px;
}

.currency-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 450px;
    height: 80px;
}

.currency-item {
    border: none;
    text-align: center;
    border-bottom: 2px solid black;
    width: 100px;
    height: 40px;
    font-size: 24px;
    font-family: "SourceSansPro-Bold";
    background-color: #00bcb0;
    color: white;
    border-radius: 15px 15px 0px 0px;
    transition: .8s;
    cursor: pointer;
}

.currency-item:hover {
    height: 70px;
    transition: .8s;
}

.currency {
    font-size: 24px;
    font-family: "SourceSansPro-Bold";
    margin-left: 10px;
}

.s2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0px;
    width: 100%;
}

.s2_subTitle {
    display: block;
    text-align: center;
    font-family: "SourceSansPro-Bold";
    font-size: 4rem;
    color: #ffb83d;
}

.s2_incomes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7;
    width: 100%;
    border-radius: 80px;
    margin: 20px 0px;
}

.s2_incomes-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin: 40px 0px;
}

.s2_costs {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 80px;
    margin: 20px 0px;
}

.s2_costs-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    height: auto;
}

.s2_costs-list, .s2_incomes-list {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-top: 40px;
}

.s2_incomes-main,
.s2_incomes-addit,
.s2_costs-main,
.s2_costs-addit {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 44%;
}

.s2_costs-main div,
.s2_costs-addit div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.s2_incomes-main p,
.s2_incomes-addit p,
.s2_costs-main p,
.s2_costs-addit p {
    font-family: "SourceSansPro-Bold";
    font-size: 2.4rem;
    font-weight: bold;
}

.incomes-main,
.incomes-addit {
    width: 100px;
    height: 36px;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 26px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "SourceSansPro-Bold";
    background-color: #f7f7f7;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.s2_costs-btn {
    display: block;
    width: 59%;
    height: 74px;
    background-color: #00bcb0;
    color: white;
    font-family: "SourceSansPro-Bold";
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.91);
    cursor: pointer;
}

.inner-li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.budget-block {
    width: 100%;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s2_total-btn {
    display: block;
    width: 40%;
    height: 80px;
    color: white;
    background-color: #ffb83d;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.91);
    font-family: "SourceSansPro-Bold";
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

.budget_calculation {
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 20px 0px;
    width: 40%;
}

.budget_calculation-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
}

.calculation-block {
    width: 29.7%;
}

.calculation-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.budget-text {
    font-family: "SourceSansPro-Bold";
    font-size: 2.4rem;
    font-weight: bold;
    width: auto;
}

.total-costs, .total-incomes, .remains {
    display: flex;
    flex-direction: row;
}

.calculation-block button {
    display: block;
    width: 100%;
    height: 26px;
    background-color: #00bcb0;
    color: white;
    font-family: "SourceSansPro-Bold";
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.mainCosts-list,
.additCosts-list {
    font-family: "SourceSansPro-Regular";
    font-size: 2.6rem;
    margin: 50px 0;
}

.mainCosts-list span,
.additCosts-list span {
    margin-right: 10px;
    height: auto;
}

.close-img{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.form-back {
    background-color: rgba(0, 0, 0, 0.71);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

.form_enter-costs {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 1092px;
    height: 478px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.61);
}

.form_enter-costs h4 {
    font-family: "SourceSansPro-Bold";
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
}

.form-main-block {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin: 20px 0px;
    width: 810px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 750px;
    height: 250px;
    overflow: auto;
}

.form-inputs::-webkit-scrollbar {
    width: 12px;
}

.form-inputs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.form-inputs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffb83d; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.cost-block {
    width: 730px;
    margin-bottom: 10px;
    height: 40px;
    justify-content: center;
}

.enter_costname,
.enter_costsum {
    height: 40px;
    padding-left: 20px;
    color: black;
    font-family: "SourceSansPro-Regular";
    font-size: 20px;
    border: none;
    border: 1px solid rgb(225, 230, 225);
    border-radius: 5px;
}

.enter_costname {
    width: 354px;
    margin-right: 100px;
}

.enter_costsum {
    width: 230px;
}

.add-cost {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00bcb0;
    color: #f7f7f7;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
}

.send-costs {
    width: 232px;
    height: 76px;
    color: #f7f7f7;
    background-color: #00a51c;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.61);
    font-family: "SourceSansPro-Bold";
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    color: #f7f7f7;
    font-family: "SourceSansPro-Regular";
    font-size: 3rem;
    background-color: #00bcb0;
}

.footer-info {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .logo {
        font-size: 4rem;
    }

    .s1_title {
        font-size: 6rem;
    }
    .s2_incomes {
        height: 220px;
    }

    .incomes-main, .incomes-addit {
        width: 75px;
        height: 30px;
        margin-left: 20px;
        font-size: 1.7rem;
    }

    .s2_incomes-main p,
    .s2_incomes-addit p,
    .s2_costs-main p,
    .s2_costs-addit p {
        font-size: 2rem;
    }

    .s2_subTitle {
        font-size: 3.5rem;
    }
    
    .inner-li span {
        font-size: 2.2rem;
    }

    .s2_costs-btn {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .logo, .s1_text-block {
        margin-left: 80px;
    }

    .s1_text-block {
        height: 150px;
    }

    .s1_title {
        font-size: 4.5rem;
    }

    .s1_desk {
        font-size: 2rem;
    }

    .s1 {
        background-image: url(./img/Phon.png);
        background-repeat: repeat-y;
        background-position: left;
        height: 500px;
    }

    .currency-block {
        height: 130px;
    }

    .currency-list {
        width: 350px;
    }

    .currency-item {
        font-size: 2rem;
        width: 80px;
        height: 35px;
    }

    .currency-item:hover {
        height: 60px;
    }

    .currency {
        font-size: 2rem;
    }

    .s2_incomes-main p,
    .s2_incomes-addit p,
    .s2_costs-main p,
    .s2_costs-addit p {
        font-size: 1.7rem;
    }
    
    .incomes-addit, .incomes-main {
        font-size: 1.5rem;
        width: 60px;
        margin-left: 10px;
    }

    .s2_costs-btn {
        width: 70%;
        height: 55px;
        font-size: 1.7rem;
    }

    .s2_total-btn {
        width: 55%;
        font-size: 2.5rem;
    }

    .budget_calculation {
        width: 55%;
    }

    .budget-text {
        font-size: 2rem;
    }

    footer {
        font-size: 2.1rem;
        height: 80px;
    }
}

@media only screen and (max-width: 425px) {
    .logo {
        margin-left: 40px;
        font-size: 3.5rem;
    }

    .s1 {
        height: 400px;
        background-position: top;
        justify-content: center;
    }

    .s1_text-block {
        height: 100px;
        margin-left: 0px;
        align-items: center;
    }

    .s1_title {
        font-size: 4rem;
    }

    .s1_desk {
        font-size: 1.7rem;
    }

    .choose-currency, .s2_incomes, .s2_costs {
        border-radius: 40px;
    }

    .s2_subTitle {
        font-size: 3rem;
    }

    .currency-list {
        width: 300px;
    }

    .currency-item {
        width: 70px;
        font-size: 1.7rem;
    }

    .s2_incomes-list {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .s2_incomes-main, .s2_incomes-addit {
        align-items: flex-end;
        width: 70%;
    }

    .s2_costs-list {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .s2_costs-main, .s2_costs-addit {
        margin: 15px 0px;
    }
    
    .mainCosts-list,
    .additCosts-list {
        margin: 30px 0px;
    }

    .s2_costs-btn {
        width: 90%;
    }

    .inner-li span {
        font-size: 1.9rem;
    }

    .s2_total-btn {
        width: 80%;
        font-size: 2rem;
        height: 60px;
    }

    .budget_calculation {
        width: 80%;
    }

    .budget-block {
        margin: 60px 0px;
    }

    .budget-text {
        font-size: 1.7rem;
    }

    .budget_calculation-item button {
        font-size: 1.2rem;
        height: 20px;
    }

    footer {
        font-size: 1.7rem;
        height: 60px;
    }

    .footer-info {
        width: 85%;
    }
}

@media only screen and (max-width: 340px) {
    .s1 {
        background-position: bottom;
        background-position-x: -70px;
    }

    .s2_incomes-main, .s2_incomes-addit {
        width: 80%;
    }

    .s2_costs-btn {
        width: 100%;
    }
}