@font-face {
    font-family: 'Montserrat Bold';
    src: local(Montserrat), url(../fonts/Montserrat/Montserrat-Bold.ttf), url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Regular';
    src: local(Montserrat), url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Mr Dafoe';
    src: local(Mr Dafoe), url(../fonts/Mr_Dafoe/MrDafoe-Regular.ttf);
}

@font-face {
    font-family: 'Brush Script Std';
    src: local(Brush Script Std), url(../fonts/Brush_Script_Std/Brush_Script_Std.ttf);
}

@font-face {
    font-family: 'Open Sans Bold';
    src: local(Open-Sans), url(../fonts/Open_Sans/Open_Sans_Bold.ttf);
}

@font-face {
    font-family: 'Open Sans Regular';
    src: local(Open-Sans), url(../fonts/Open_Sans/Open_Sans_Regular.ttf);
}

html {
    font-size: 10px;
    min-width: 330px;
}

body {
    margin: 0px;
    background-color: #f6f6f6;
}

header{
    height: auto;
    background-color: rgba(157, 157, 157, 0.5);
    background-image: url(../img/hero-img-slide.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
    margin-bottom: 428px;
}

.navigation{
    background-color: rgba(0, 0, 0, 0.59);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}

.navigation_list{
    margin: 15px 0px;
    padding: 0px;
    width: 470px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.link{
    font-family: 'Montserrat Bold';
    font-size: 1.4rem;
    height: auto;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.link:hover {
    color: #ffd71b;
    transition: 1s;
}

.header_line {
    background-color: #ffd71b;
    width: 2px;
    height: 14px;
}

.welcome {
    display: flex;
    background-color: rgba(0, 0, 0, 0.35);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 174px 0px 220px 0px;
}

.header_heads {
    font-family: 'Montserrat Bold';
    font-size: 6.7rem;
    color: #ffffff;
    margin: 0px;
}

.header_title {
    font-family: 'Mr Dafoe';
    font-weight: 400;
    font-size: 8rem;
    color: #ffffff;
    margin: 0px 0px 16px 0px;
}

.header_underline {
    margin: 0px;
    background-color: #ffd71b;
    width: 125px;
    height: 1px;
}

.header_describe{
    text-align: center;
    font-family: 'Montserrat Regular';
    font-size: 1.6rem;
    margin: 40px 0px 80px 0px;
    color: #ffffff;
}

.header_button{
    background-color: #ffd71b;
    color: #000000;
    font-family: 'Montserrat Bold';
    font-size: 1.6rem;
    width: 230px;
    height: 50px;
    border: 0px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_us {
    width: 912px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 747px;
    z-index: 2;
}

.about_img  {
    background-image: url(../img/about-us.jpg);
    background-repeat: no-repeat;
    width: 456px;
    height: 426px;
}

#our_services {
    width: 456px;
    display: flex;
    justify-content: center;
}

.our_services {
    width: 318px;
}

.main_heads {
    font-size: 3.8rem;
    color: #000000;
    margin: 0px;
    font-family: 'Montserrat Bold';
}

.main_describe {
    font-family: 'Montserrat Regular';
    font-size: 1.6rem;
    color: #6b6f7a;
    margin: 35px 0px 60px 0px;
    line-height: 25px;
}

.main_button {
    border: 1px solid #000000;
    font-family: 'Montserrat Bold';
    font-size: 1.6rem;
    width: 230px;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    transition: 1s;
}

.main_button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 1s;
}


.quote {
    height: 342px;
    margin-bottom: 100px;
    background-image: url(../img/quote-img-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dfg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_block {
    color: #ffffff;
    width: 790px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top_rosemary_block {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 5;
    width: 36.5%;
    align-items: center;
    top: 1400px;
    
}

.quote_text {
    font-family: 'Brush Script Std';
    font-size: 4.5rem;
    letter-spacing: 4px;
    margin: 0px 0px 27px 0px;
    justify-content: space-between;
    width: 100%;
}

.first_part {
    text-align: left;
    margin: 0px;
}

.second_part {
    text-align: right;
    margin: 0px;
}

.author_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    width: 380px;
}

.quote_author {
    font-family: 'Brush Script Std';
    font-size: 2.9rem;
    margin: 0px;
}

.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example_images {
    margin: 57px 0px 42px 0px;
    max-width: auto;
}

.img_row img {
    width: 293px;
    height: 250px;
    margin: 5px;
    vertical-align: bottom;
    float: left;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insta_posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 63px 0px 90px 0px;
    width: 1064px;
}

.bottom_rosemary_block {
    transform: scale(-1, 1); 
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 32%;
    z-index: 5;
    top: 3280px;
}

#dfg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news {
    background-image: url(../img/bg-light.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    height: 370px;
    font-family: 'Montserrat Bold';
}

.news_head {
    font-size: 3.8rem;
    color: #000000;
    margin: 0px;
}

.news_describe {
    font-size: 1.6rem;
    color: #000000;
    margin: 29px 0px 45px 0px;

}

.news_form{
    display: flex;
    justify-content: center;
}

.email{
    padding-left: 22px;
    height: 46px;
    width: 327px;
    border: 1px solid #000000;
    font-weight: 400;
    font-size: 1.6rem;

}

.email::-webkit-input-placeholder{
    color: #6b6f7a;
    font-size: 1.6rem;
    font-family: 'Montserrat Regular';
}

.subscribe{
    height: 50px;
    width: 230px;
    background-color: #ffd71b;
    color: #000000;
    border: 1px solid #ffd71b;
    font-size: 1.6rem;
    font-family: 'Montserrat Bold';
    cursor: pointer;
    transition: 0.7s;
}

.subscribe:hover {
    box-shadow: 0 0 20px #ffd71b;
    transition: 0.7s;
}

footer {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1070px;
    margin: 90px 0px;
}

.info_block {
    display: flex;
    flex-direction: row;
    width: 475px;
    justify-content: space-between;
}

.contacts, .work_time, #logo, .follow_us {
    display: flex;
    flex-direction: column;
    width: auto;
}

.work_time:hover .footer_underline,
.follow_us:hover .footer_underline {
    width: 100%;
}

.contacts:hover .footer_underline {
    width: 130px;
}

.footer_describe {
    margin: 5px 0px;
    font-size: 1.8rem;
    color: #919191;
    font-weight: 400;
    font-family: 'Open Sans Regular';
}

.footer_info a {
    color: #ffd71b;
    font-family: 'Open Sans Regular';
}

.footer_underline {
    width: 75px;
    height: 1px;
    background-color: #ffd71b;
    margin: 15px 0px 10px 0px;
    transition: 1s;
}

.footer_heads {
    margin: 0px;
    font-size: 2.6rem;
    color: #e9e9e9;
    font-weight: 700;
    font-family: 'Open Sans Bold';
}

#logo {
    color: #757575;
    font-family: 'Mr Dafoe';
    font-size: 3.5rem;
    margin: 0px;
    transition: 0.7s;
}

#logo:hover {
    color: #ffd71b;
    transition: 0.7s;
}

.copyright {
    background-color: #000000;
    color: #333333;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Regular';
    font-weight: 400;
    font-size: 14px;
}

.copyright p {
    margin: 0px;
}

@media only screen and (max-width: 1300px) {
    .img_row img:nth-child(4) {
        display: none;
    }

    .insta_posts {
        width: auto;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .post {
        max-width: inherit;
        height: auto;
        margin-bottom: 50px;
    }

    .bottom_rosemary_block {
        top: 4480px;
    }

    .footer_info {
        width: 82.3%;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        margin-bottom: 730px;
    }

    .header_heads {
        font-size: 5.7rem;
    }

    .header_title {
        font-size: 7.4rem;
    }

    .header_describe {
        max-width: 42.5%;
    }

    .about_us {
        flex-direction: column;
        width: auto;
        align-items: start;
        top: 780px;
    }

    .about_img {
        background-image: url(../img/about_us_tablet.jpg);
        background-position: bottom left;
        width: 540px;
        height: 350px;
    }

    #our_services {
        align-self: center;
    }

    .our_services {
        margin: 65px 0px;
        width: 390px;
    }

    .main_describe {
        font-size: 1.4rem;
        margin: 30px 0px 40px 0px;
    }

    .top_rosemary_block {
        top: 1680px;
    }

    .top_rosemary_block img {
        width: 220px;
        height: 260px;
    }

    .quote_block {
        width: 590px;
    }

    .quote_text {
        font-size: 4rem;
        letter-spacing: 2px;
    }

    .first_part {
        text-align: right;
    }

    .img_row img {
        width: 235px;
        height: 200px;
    }

    .instagram h3 {
        width: 450px;
        text-align: center;
    }

    .news {
        height: 360px;
    }

    .insta_posts {
        margin-bottom: 10px;
    }

    .post {
        margin-bottom: 20px;
    }

    .bottom_rosemary_block {
        width: 31.25%;
        top: 4540px;
        flex-wrap: wrap;
    }

    .bottom_rosemary_block img {
        width: 220px;
        height: 260px;
    }

    .footer_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-top: 75px;
    }

    .info_block, .logo_block, .follow_block {
        display: flex;
        flex-direction: row;
    }

    .info_block {
        margin: 45px 0px;
    }

    .follow_block {
        position: relative;
        right: 110px;
    }
}

@media only screen and (max-width: 768px) {
    .header_heads {
        font-size: 4.8rem;
    }

    .header_title {
        font-size: 6.8rem;
    }

    .header_describe {
        font-size: 1.6rem;
        max-width: 58%;
        margin-bottom: 40px;
    }

    .about_us {
        top: 730px;
    }

    .img_row img:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        margin-bottom: 705px;
    }

    .navigation {
        flex-direction: column;
    }

    li:nth-child(6) {
        display: none;
    }

    .navigation #insta_logo {
        margin: 7px 0px 19px 0px;
    }

    .navigation_list {
        width: 270px;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .link {
        font-size: 1.2rem;
    }

    .welcome {
        padding: 55px 0px 80px 0px;
    }

    .header_heads {
        font-size: 1.9rem;
    }

    .header_title {
        font-size: 3.8rem;
    }

    .header_describe {
        font-size: 1.4rem;
        width: 52.5%;
    }

    .about_us {
        width: 280px;
        top: 450px;
    }

    #our_services {
        width: auto;
    }

    .our_services {
        width: 230px;
        margin: 50px 25px;
    }

    .about_img {
        background-image: url(../img/about-us.jpg);
        width: 280px;
        height: 350px;
        background-position: center;
    }

    .main_heads {
        font-size: 2rem;
    }

    .quote {
        margin-bottom: 40px;
    }

    .top_rosemary_block {
        top: 1360px;
    }

    .quote_text {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin: 0px;
    }

    .first_part {
        text-align: center;
        width: 250px;
    }

    .second_part {
        width: 320px;
        text-align: center;
    }

    .author_block {
        flex-direction: column;
        align-self: center;
        width: auto;
    }

    .author_block .header_underline {
        margin: 20px 0px;
    }

    .quote_author {
        font-size: 2rem;
    }

    .example_images {
        margin-top: 25px;
    }

    .img_row {
        display: flex;
        flex-direction: column;
    }

    .img_row:nth-child(2),
    .img_row:nth-child(3) {
        display: none;
    }

    .img_row img {
        width: 280px;
        height: 250px;
    }

    .instagram .main_heads {
        width: 235px;
    }

    .insta_posts {
        margin: 25px 0px 40px 0px;
    }

    .post {
        margin: 0px;
    }

    .bottom_rosemary_block {
        top: 3850px;
    }

    .news {
        height: 325px;
    }

    .news_describe {
        width: 250px;
        margin: 18px 0px 22px 0px;
    }

    .news_form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .email {
        margin-bottom: 25px;
        width: 256px;
    }

    .footer_info {
        margin: 30px 0px 50px 0px;
    }

    .info_block {
        flex-direction: column;
        width: auto;
        margin: 25px 0px;
    }

    .contacts {
        margin-bottom: 30px;
    }

    .contacts:hover .footer_underline {
        width: 100px;
    }

    .work_time:hover .footer_underline {
        width: 152px;
    }

    .follow_block {
        right: 8px;
    }

    .footer_heads {
        font-size: 2rem;
    }

    .copyright p {
        text-align: center;
        width: 230px;
    }
}