@font-face {
    font-family: 'Myriad Pro';
    src: local(Myriad Pro), url(../fonts/Myriad_Pro/MyriadPro-Regular.ttf), url(../fonts/Myriad_Pro/MyriadPro-Regular.OTF);
}

html {
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 10px;
    min-width: 340px;
}

body {
    margin: 0px;
}

header{
    height: auto;
    background-image: url(../img/top-back.jpg);
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 245px;
}

.navigation{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    height: auto;
}

.navigation_list{
    margin: 25px 0px;
    padding: 0px;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.link{
    height: auto;
    color: #ffffff;
    font-size: 1.7rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.link:after {
    background-color: #ffffff;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: .3s ease-in-out;
    transform: translateX(-50%);
    margin-top: 22px;
}

.link:hover:after,
.link:focus:after {
    width: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 174px;
    padding-bottom: 220px;
}

.header_heads {
    font-size: 8.5rem;
    color: #ffffff;
    margin: 0px;
    font-weight: normal;
}

.header_underline { 
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 6px;
    margin: 40px 0px 54px 0px;
}

.header_describe{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    max-width: 28%;
    letter-spacing: 3px;
    margin: 0px 0px 68px 0px;
    font-weight: normal;
}

.header_button{
    max-width: 170px;
    height: 45px;
    font-family: 'Myriad Pro';
    font-size: 2rem;
    color: #ffffff;
    background-color: #151d25;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
}

.header_button:hover{
    color: #151d25;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 0.6s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_us {
    width: 930px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 747px;
    z-index: 5;
}

#logo {
    width: 49%;
    height: auto;
}

.our_services {
    width: 49%;
    height: auto;
}

.main_heads {
    font-size: 3.5rem;
    color: #28374b;
    margin: 0px;
}

.main_underline {
    max-width: auto;
    color: #9fb0a5;
    letter-spacing: 10px;
    font-size: 2.5rem;
    margin: 5px 0px 30px 0px;
}

.main_describe {
    font-size: 2rem;
    color: #9fb0a5;
    max-width: 97%;
    margin: 0px 0px 92px 0px;
}

.main_button {
    max-width: 42.5%;
    height: 45px;
    font-family: 'Myriad Pro';
    font-size: 2rem;
    color: #ffffff;
    background-color: #151d25;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.main_button:hover {
    color: #151d25;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 0.6s;
}

.quote {
    height: 472px;
    margin-bottom: 77px;
    background-image: url(../img/second.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.transparent_block {
    width: 744px;
    height: 158px;
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(21, 29, 37, 0.5);
}

.quote_text {
    letter-spacing: 4px;
    margin: 0px 0px 27px 0px;
    max-width: 94%;
}

.quote_author {
    margin: 0px;
}

.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example_images {
    margin: 68px 0px 42px 0px;
    max-width: auto;
}

.img_row img {
    width: 293px;
    height: 250px;
    margin: 5px;
    vertical-align: bottom;
    float: left;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow_bcg {
    background-color: #151d25;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0px 65px 0px;
    transition: all .3s linear;
}

.arrow {
    border: solid #ffffff;
    width: 9px;
    height: 9px;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.insta_posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}



.news{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.news_head {
    font-size: 3.5rem;
    color: #28374b;
    margin: 0px 0px 58px 0px;
}

.news_describe {
    font-size: 2.5rem;
    color: #28374b;
    margin: 0px 0px 69px 0px;
}

.news_form{
    display: flex;
    justify-content: center;
}

.email{
    padding-left: 38px;
    height: 50px;
    width: 324px;
    border: 1px solid #151d25;
    font-size: 1.7rem;
}

.email::-webkit-input-placeholder{
    color: #28374b;
    font-size: 2.2rem;
    font-family: 'Myriad Pro';
}

.subscribe{
    height: 54px;
    width: 200px;
    background-color: #151d25;
    color: #ffffff;
    border: 1px solid #151d25;
    font-size: 2.2rem;
    font-family: 'Myriad Pro';
    transition: 0.6s;
    cursor: pointer;
}

.subscribe:hover {
    background-color: #27364a;
    color: #ffffff;
    transition: 0.6s;
}

.news_img{
    margin: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img_section_1{
    background-image: url(../img/bottom-1.jpg);
    background-position: center;
    margin-right: 20px;
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 370px;
    height: 270px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_2{
    background-image: url(../img/bottom-2.jpg);
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
    background-position: center;
}

.img_section_2:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 270px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.6s;
    border-radius: 10px;
}

.img_section_3{
    background-image: url(../img/bottom-3.jpg);
    margin-left: 20px;
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
    background-position: center;
}

.img_section_3:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 370px;
    height: 270px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.6s;
    border-radius: 10px;
}

.shadow_section{
    background-color: rgba(14, 18, 19, 0.8);
    width: 360px;
    height: 260px;
    transition: 0.6s;
    border-radius: 10px;
}

.shadow_section:hover{
    background-color: rgba(14, 18, 19, 0); 
    width: 370px;
    height: 270px;
    border-radius: 10px;
}

footer {
    background-color: #27364a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 47.4%;
    height: 310px;
}

.contacts, .work_time {
    display: flex;
    flex-direction: column;
    height: 264px;
}

.footer_describe {
    margin: 10px 0px;
    font-size: 2rem;
}

.footer_heads {
    margin: 0px 0px 36px 0px;
    font-size: 2.5rem;
}

.footer_bottom {
    background-color: #151d25;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

.copyright {
    width: 47.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright .footer_describe {
    width: 80%;
}

@media only screen and (max-width: 1300px) {
    .header_heads {
        font-size: 6.5rem;
    }

    .header_describe {
        max-width: 37.7%;
    }

    .about_us {
        width: 67%;
        height: auto;
        top: 772px;
    }

    .main_heads {
        font-size: 3rem;
    }

    .main_underline {
        font-size: 1.7rem;
    }

    .main_describe {
        margin-bottom: 46px;
        font-size: 1.7rem;
    }

    .main_button {
        font-size: 1.7rem;
    }

    .img_row img:nth-child(1) {
        display: none;
    }

    .arrow_bcg {
        margin-bottom: 30px;
    }

    /* .insta_posts {
        width: auto;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    } */

    .post {
        max-width: inherit;
        height: auto;
        margin-bottom: 50px;
    }

    .shadow_section, .img_section_1,
    .img_section_2, .img_section_3 {
        width: 270px;
        height: 195px;
    }

    .shadow_section:hover, .img_section_1:hover,
    .img_section_2:hover, .img_section_3:hover {
        width: 280px;
        height: 205px;
    }

    .footer_info, .copyright {
        width: 60%
    }
}

@media only screen and (max-width: 1024px) {
    header {
        margin-bottom: 150px;
    }

    .welcome {
        margin-top: 120px;
    }

    .header_heads {
        font-size: 5.5rem;
        max-width: 80%;
    }

    .header_describe {
        font-size: 1.7rem;
        max-width: 42.5%;
    }

    .header_button {
        font-size: 1.7rem;
    }

    .about_us {
        top: 670px;
    }

    .main_heads {
        font-size: 2.5rem;
    }

    .main_underline {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .main_describe {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .img_row img {
        width: 235px;
        height: 200px;
    }

    .insta_posts {
        margin-bottom: 10px;
    }

    .post {
        margin-bottom: 20px;
    }

    .news_head {
        font-size: 3rem;
    }
    .news_describe {
        font-size: 2rem;
    }

    .subscribe {
        font-size: 2rem;
    }

    .img_section_2 {
        display: none;
    }

    .footer_heads {
        font-size: 2rem;
    }

    .footer_describe {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 944px) {
    .about_us {
        top: 780px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        margin-bottom: 100px;
    }

    .link {
        font-size: 1.5rem;
    }

    .header_heads {
        font-size: 4rem;
        max-width: 55%;
    }

    .header_underline {
        font-size: 1.2rem;
    }

    .header_describe {
        font-size: 1.5rem;
        max-width: 52%;
    }

    .header_button {
        font-size: 1.5rem;
        max-width: 140px;
        height: 35px;
    }

    .about_us {
        top: 700px;
    }

    .main_heads {
        font-size: 2rem;
    }

    .main_underline {
        display: none;
    }

    .main_describe {
        font-size: 1.2rem;
        margin: 10px 0px 15px 0px;
    }

    .main_button {
        font-size: 1.3rem;
        height: 35px;
        min-width: 85px;
    }

    .transparent_block {
        width: 85%;
    }

    .quote_text {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .quote_author {
        font-size: 1.5rem;
    }

    .img_row img:nth-child(2) {
        display: none;
    }

    .news_head {
        font-size: 2.5rem;
    }

    .news_describe {
        font-size: 1.7rem;
    }

    .email {
        width: 260px;
    }

    .email::-webkit-input-placeholder {
        font-size: 1.7rem;
    }

    .subscribe {
        font-size: 1.7rem;
        width: 150px;
    }

    .img_section_1, .img_section_2, .img_section_3 {
        width: 163px;
        height: 120px;
        display: flex;
        margin: 0px 5px;
    }

    .img_section_1:hover, .img_section_2:hover,
    .img_section_3:hover {
        width: 163px;
        height: 120px;
        box-shadow: none;
        margin: 0px 5px;
    }

    .shadow_section {
        display: none;
    }

    .footer_info, .copyright {
        width: 80%;
    }

    .copyright .footer_describe {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 668px) {
    .about_us {
        top: 770px;
    }
}

@media only screen and (max-width: 560px) {
    header {
        margin-bottom: 50px;
    }

    .navigation_list {
        width: 71.4%;
        margin: 15px 0px;
    }

    .link {
        font-size: 1.2rem;
    }

    #insta_logo {
        width: 15px;
        height: 15px;
    }

    .welcome {
        margin-top: 100px;
        padding-bottom: 110px;
    }

    .header_heads {
        font-size: 3.5rem;
        max-width: 64.1%;
    }

    .header_underline {
        margin: 20px 0px 27px 0px;
    }

    .header_describe {
        font-size: 1.2rem;
        max-width: 60%;
        margin-bottom: 40px;
    }

    .header_button {
        font-size: 1.2rem;
        max-width: 120px;
        height: 30px;
    }

    .about_us {
        min-width: 278px;
        top: 460px;
    }

    .main_heads {
        font-size: 1.7rem;
    }

    .main_describe {
        margin: 2px 0px;
        font-size: 1rem;
    }

    .main_button {
        height: 25px;
        font-size: 1rem;
        min-width: 70px;
    }

    .quote {
        margin-bottom: 30px;
        height: 350px;
    }

    .example_images {
        margin-top: 30px;
    }

    .img_row img {
        width: 190px;
        height: 160px;
    }

    .news_head {
        font-size: 2rem;
        margin-bottom: 29px;
    }

    .news_describe {
        font-size: 1.5rem;
        margin-bottom: 35px;
    }

    .email {
        width: 200px;
        height: 40px;
        padding-left: 13px;
    }

    .email::-webkit-input-placeholder {
        font-size: 1.5rem;
    }

    .subscribe {
        font-size: 1.5rem;
        width: 130px;
        height: 44px;
    }

    .news_img {
        flex-direction: column;
        align-items: center;
        margin: 30px 0px;
    }

    .img_section_1, .img_section_2, .img_section_3 {
        margin: 10px 0px;
    }

    .img_section_1:hover, .img_section_2:hover,
    .img_section_3:hover {
        margin: 10px 0px;
    }

}

@media only screen and (max-width: 501px) {
    .about_us {
        top: 525px;
    }
}

@media only screen and (max-width: 425px) {
    .navigation_list {
        margin: 7px 0px;
    }

    .welcome {
        margin-top: 60px;
        padding-bottom: 85px;
    }

    .header_heads {
        font-size: 3rem;
        max-width: 81.8%;
    }

    .header_describe {
        max-width: 78%;
    }

    .about_us {
        top: 385px;
    }

    .quote {
        height: 300px;
    }

    .quote_text {
        letter-spacing: 0px;
    }

    .img_row img {
        width: 235px;
        height: 200px;
        margin: 10px 0px;
    }

    .img_row img:nth-child(4) {
        display: none;
    }

    .news_describe {
        font-size: 1.4rem;
    }

    .email {
        width: 180px;
    }

    .email::-webkit-input-placeholder {
        font-size: 1.3rem;
    }

    .subscribe {
        font-size: 1.3rem;
        width: 110px;
    }

    .footer_info {
        height: 200px;
    }

    .contacts, .work_time {
        height: 150px;
    }

    .footer_heads {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .footer_describe {
        font-size: 1.2rem;
        margin: 5px 0px;
    }

    .footer_bottom {
        height: 50px;
    }

    .copyright .footer_describe {
        width: 85%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 340px) {
    .about_us {
        top: 400px;
    }
}