.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 1200px;
}

.navigation_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

.navigation_links li{
    margin-right: 57px;
}

.navigation_links li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
    position: relative;
}

#logo a {
    margin: 0px 0px 1em 180px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #95e1d3;
    font-size: 30px;
    text-decoration: none;
}

.small_head_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.big_head_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.underline {
    display: block;
    background-color: #f38181;
    height: 3px;
    margin: 50px 636.5px;

}

.team {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 194px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #b3b3b3;
}

.first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 200px 50px 200px;
}

.second_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 200px 50px 200px;
}

.describe {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #b3b3b3;
}

.headline {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.info_block {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0px 20px 26px 20px;
}

.icon img {
    width: 32px;
    height: 32px;
}

.navigation_links li a:hover {
    color: #f38181;
}

.navigation_links li a:after {
    background-color: #f38181;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: .3s ease-in-out;
    transform: translateX(-50%);
    margin-top: 12px;
}
.navigation_links li a:hover:after,
.navigation_links li a:focus:after {
    width: 100%;
}
